<div class="include" ng-controller="include">
  <div class="include_header"><span>消息</span></div>
  <ul class="collection">
    <div class="include_up">
      <li class="collection-item">
        <div class="circle"></div>
        <p>评论</p>
        <span class="secondary-content">
          <span class="number pe-n"></span>
          <div class="zhishi pe-n"></div>
        </span>
      </li>
      <li class="collection-item">
        <div class="circle"></div>
        <p>简信</p>
        <span class="secondary-content">
          <span class="number pe-n"></span>
          <div class="zhishi pe-n"></div>
        </span>
      </li>
      <li class="collection-item">
        <div class="circle"></div>
        <p>投稿请求</p>
        <span class="secondary-content">
          <span class="number pe-n"></span>
          <div class="zhishi pe-n"></div>
        </span>
      </li>
      <li class="collection-item">
        <div class="circle"></div>
        <p>喜欢</p>
        <span class="secondary-content">
          <span class="number pe-n"></span>
          <div class="zhishi pe-n"></div>
        </span>
      </li>
      <li class="collection-item">
        <div class="circle"></div>
        <p>关注</p>
        <span class="secondary-content">
          <span class="number pe-n"></span>
          <div class="zhishi pe-n"></div>
        </span>
      </li>
      <li class="collection-item">
        <div class="circle"></div>
        <p>打赏</p>
        <span class="secondary-content">
          <span class="number pe-n"></span>
          <div class="zhishi pe-n"></div>
        </span>
      </li>
      <li class="collection-item">
        <div class="circle"></div>
        <p>其他</p>
        <span class="secondary-content">
          <span class="number pe-n"></span>
          <div class="zhishi pe-n"></div>
        </span>
      </li>
    </div>
  </ul>
  <js-footer></js-footer>
</div>
